<div class="panel panel-default">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="column in columns">{{ column.ColumnName }}</th>
                <th>
                    <div style="float: right">
                        <a ng-click="edit(0)" class="glyphicon glyphicon-plus"></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in items">
                <td ng-repeat="cell in row.Cells">{{ cell.Value }}</td>
                <td>
                    <div style="float: right">
                        <a ng-click="edit(item.Id)" class="glyphicon glyphicon-pencil"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav ng-show="paginationVisible()" ng-click="pageChange()">
    <ul class="pagination">
        <li ng-repeat="p in pages" ng-class="{active: pageInfo.PageIndex == p.pageIndex}">
            <a data-pageindex="{{ p.pageIndex }}" href="#">{{ p.pageText }}</a>
        </li>
    </ul>
</nav>