<form role="form" ng-submit="save()">
    <div class="form-group">
        <h4>{{ item.TableName }} Id: {{ item.Id }}</h4>
    </div>
    <div class="form-group" ng-repeat="column in columns">
        <label>{{ column.ColumnName }}</label>
        <div type="{{ column.Control.ControlId }}" control-type></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
</form>
<div entity-picker page="control_modal"></div>