<div class="panel panel-default">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>
                    <div style="float: right">
                        <a ng-click="edit(0)" class="glyphicon glyphicon-plus"></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in items">
            <tr>
                <td>{{ item.Id }}</td>
                <td>{{ item.OrderDate | date : short }}</td>
                <td>{{ item.OrderStatus.StatusName }}</td>
                <td>
                    <div style="float: right">
                        <a ng-click="edit(item.Id)" class="glyphicon glyphicon-pencil"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav ng-click="pageChange()">
    <ul class="pagination">
        <li ng-repeat="p in pages" ng-class="{active: pageInfo.PageIndex == p.pageIndex}">
            <a data-pageindex="{{ p.pageIndex }}" href="#">{{ p.pageText }}</a>
        </li>
    </ul>
</nav>