<form role="form" ng-submit="save()">
    <div class="form-group">
        <label>Table Name</label>
        <input ng-model="item.TableName" class="form-control" id="exampleInputEmail1" placeholder="Enter table name">
    </div>
    <div class="form-group" ng-repeat="column in item.Columns | filter : {IsDeleted:false}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Column {{ $index + 1 }} ({{ column.Id }})</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Column Name</label>
                    <input ng-model="column.ColumnName" class="form-control" placeholder="Enter Column Name">
                </div>
                <div class="form-group">
                    <label>Control Type</label>
                    <select class="form-control" ng-model="column.ControlId"
                            ng-options="control.Id as control.ControlId for control in controls"></select>
                </div>
                
                <div class="panel panel-default" ng-show="column.ControlId == 2 || column.ControlId == 3">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data Source</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Table</label>
                            <select class="form-control" ng-model="column.DataSourceTableId"
                                    ng-options="table.Id as table.TableName for table in dataSourceTables"
                                    ng-change="onDataSourceTableChanged($index, column.DataSourceTableId)"></select>
                        </div>
                        
                        <div class="form-group">
                            <label>Value Format</label>
                            <input ng-model="column.DataSourceValueFormat" class="form-control" placeholder="Enter Value Format">
                        </div>

                    </div>
                </div>
            </div>
        </div>
            
        <a ng-show="addVisible($index)" href="javascript:void(0)" style="font-weight: bold" ng-click="addColumn()">Add</a>
        <a ng-show="removeVisible($index)" href="javascript:void(0)" style="font-weight: bold" ng-click="removeColumn(column)">Remove</a>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
</form>