@using Remont.Common.Model

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{ Html.RenderPartial("_LeftPanel"); }

@section PagesDefinition{
    <script>
    window.pages = [
        //{ pageUrl: 'customer', ctrlName: 'Generic', title: 'Customer', serviceUrl: '/api/generic', tableId: 1 }
    ];

    @foreach (Table table in ViewBag.Tables)
        {
            <text>window.pages.push({
        pageUrl: '@table.TableName.ToLowerInvariant()',
        ctrlName: 'Generic',
        title: '@table.TableName',
        serviceUrl: '/api/generic',
        tableId: @table.Id
            })</text>
        }
    </script>
}