@using Remont.Common.Model

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{ Html.RenderPartial("_MainView"); }

@section PagesDefinition{
    <script>
    window.pages = [];

    @foreach (Table table in ViewBag.Tables)
        {
            <text>window.pages.push({
        pageUrl: '@table.TableName.ToLowerInvariant().Replace(" ", "")',
        ctrlName: 'Generic',
        title: '@table.TableName',
        serviceUrl: '/api/generic',
        tableId: @table.Id
            })</text>
        }
    </script>
}