<!DOCTYPE html>
<html ng-app="remontApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <script src="~/Scripts/app/_run.js"></script>
    
    <script src="~/Scripts/app/configs/routeProvider.js"></script>
    <script src="~/Scripts/app/configs/httpProvider.js"></script>
    <script src="~/Scripts/app/configs/filterProvider.js"></script>

    <script src="~/Scripts/app/services/baseEditCtrl.js"></script>
    <script src="~/Scripts/app/services/baseListCtrl.js"></script>
    <script src="~/Scripts/app/services/pageService.js"></script>
    <script src="~/Scripts/app/services/dataFeeder.js"></script>

    <script src="~/Scripts/app/controllers/CustomerEditCtrl.js"></script>
    <script src="~/Scripts/app/controllers/CustomerListCtrl.js"></script>
    <script src="~/Scripts/app/controllers/OrderEditCtrl.js"></script>
    <script src="~/Scripts/app/controllers/OrderListCtrl.js"></script>
    <script src="~/Scripts/app/controllers/TableListCtrl.js"></script>
    <script src="~/Scripts/app/controllers/TableEditCtrl.js"></script>
    <script src="~/Scripts/app/controllers/LeftPanelCtrl.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="ajaxIndicator" class="navbar-brand" style="color: white; float: right; adisplay: none;">Loading...</div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>