<div class="row" ng-controller="MainViewCtrl">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" role="tablist" ng-repeat="page in pages">
            <li ng-class="{active: isActive(page.pageUrl)}"><a href="/#/{{ page.pageUrl }}/list">{{ page.title }}</a></li>
        </ul>
    </div>
    <div ng-show="isEditActivity()" class="col-md-2"></div>
    <div ng-class="{ 'col-md-8' : isListActivity(), 'col-md-4' : isEditActivity() }" ng-view></div>
</div>
