<div>
    <div class="input-group" ng-repeat="row in item.Cells[$index].DataSourceRows">
        <span ng-bind-html="item.Cells[$parent.$index] | formatValue:columns[$parent.$index]:$index" class="form-control"></span>
        <span class="input-group-addon">
            <a class="glyphicon glyphicon-search"
               ng-click="beginEntitySelect(item.Cells[$parent.$index], $parent.$index, $index)"></a>
        </span>
    </div>
    
    <a href="javascript:void(0)" style="font-weight: bold" ng-click="addDataSourceRow(item.Cells[$index])">Add</a>
    <a href="javascript:void(0)" style="font-weight: bold" ng-click="removeColumn(column)">Remove</a>
</div>